<!-- templates/account/password_reset_from_key_done.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Password Changed{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/password_reset_from_key_done.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="success-section">
    <div class="container">
        <div class="success-card mx-auto">
            <div class="success-icon">
                <i class="bi bi-check-circle"></i>
            </div>

            <h2>Password Successfully Changed!</h2>

            <p>
                Your password has been successfully updated. You can now log in using your new password.
            </p>

            <a href="{% url 'account_login' %}" class="btn-login">
                <i class="bi bi-box-arrow-in-right"></i> Log In
            </a>
        </div>
    </div>
</section>
{% endblock %}
